---
import '../styles/global.css';
import AI2026 from '../components/AI2026.astro';
import ImageGeneration from '../components/ImageGeneration.astro';
import VideoGeneration from '../components/VideoGeneration.astro';
import MusicGeneration from '../components/MusicGeneration.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>DJC AI Talk</title>
  </head>
  <body>
    <AI2026 />
    <ImageGeneration />
    <VideoGeneration />
    <MusicGeneration />
  </body>
</html>
